<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置项 configuration：说明该配置的用途、默认值或运行影响。 -->
<configuration>
    <!-- 配置项 settings：说明该配置的用途、默认值或运行影响。 -->
    <settings>
        <!-- 配置项 setting name=mapUnderscoreToCamelCase：说明该配置的用途、默认值或运行影响。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 配置项 setting name=cacheEnabled：说明该配置的用途、默认值或运行影响。 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 配置项 setting name=lazyLoadingEnabled：说明该配置的用途、默认值或运行影响。 -->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>

    <!-- 配置项 plugins：说明该配置的用途、默认值或运行影响。 -->
    <plugins>
        <!-- 配置项 plugin：说明该配置的用途、默认值或运行影响。 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 配置项 property name=helperDialect：说明该配置的用途、默认值或运行影响。 -->
            <property name="helperDialect" value="mysql"/>
            <!-- 配置项 property name=reasonable：说明该配置的用途、默认值或运行影响。 -->
            <property name="reasonable" value="true"/>
            <!-- 配置项 property name=supportMethodsArguments：说明该配置的用途、默认值或运行影响。 -->
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>
</configuration>
